/* UICustomizer START */
:root   {
    --background: #36393f;
    --uicmainwidth: 230px;
}

/* big screens */
@media (min-width: 980px){
	body.UICfixedHeader{
		margin-top: 50px;
	}
	.UICHideDesktop{
		display: none;
	}

    div.UIHeaderWrap.CenterMe .UICHeaderIcons{
        position: relative;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    /*fix for files in large cols - these are replicated in the max-width: 767px section*/
    body.UICResponsiveMode div.UICLargeSpan #files div.gcode_files .action-buttons{
        top: 5px;
        bottom: inherit !important
    }

    body.UICResponsiveMode div.UICLargeSpan #files div.gcode_files div.title{
        margin-left: 25px;
    }
    body.UICResponsiveMode div.UICLargeSpan #files div.gcode_files div.toggleAdditionalData{
        position: absolute;
        left: 5px;
    }
    body.UICResponsiveMode div.UICLargeSpan #files div.scroll-wrapper{
        height: auto !important;
        padding-bottom: 30px;
    }

    body.UICResponsiveMode div.UICLargeSpan #files .gcode_files .entry .additionalInfo{
        padding-bottom: 5px !important;
    }
    body.UICResponsiveMode div.UICLargeSpan #files .gcode_files .entry .uploaded{
        float:right;
    }
    body.UICResponsiveMode div.UICLargeSpan #files .gcode_files .entry .uploaded, #files .gcode_files .entry .size{
        margin-top:3px;
    }

}

/* smaller than  big screens :) */
@media (max-width: 979px){
    .full-sized-box {
        position: absolute;
    }
	.UICHideDesktop{
		display: inline-block !important
	}

    div.UIHeaderWrap{
        max-width: calc(100vw - 235px) !important;
        right: 80px !important;
    }

    /* align drop down menu text to the right*/
	body.UICResponsiveMode #navbar div.nav-collapse {
		text-align: right;
	}

    /* compact menu instead of full width top bar menu*/
    body.UICResponsiveMode .UICCompactMenu {
        position: absolute;
        right: 5px;
        top: 43px;
        z-index: 1035;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        box-shadow: -3px 5px 7px #00000026;
        background-color: #ebebeb;
    }

    /* apply colors when standard theme*/
    html:not(.UICDefaultTheme) body.UICResponsiveMode .UICCompactMenu{
        background-color: #00000094;
    }

    /* fix links height*/
    .UICHeaderIcons.nav >li {
        padding-top: 1px;
        padding-bottom: 1px;
        height: 38px;
    }
    .UICHeaderIcons.nav >li a{
        margin-top: -1px;
        padding-bottom: 10px;
    }

    html.UICDefaultTheme:not(.UICCustomTheme) body.UICResponsiveMode #navbar .navbar-inner .nav>li>a:hover,
    html.UICDefaultTheme:not(.UICCustomTheme) body.UICResponsiveMode #navbar .navbar-inner .nav>li.dropdown.open>.dropdown-toggle{
         background-color: #dedede;
    }

    /*fix modals on small screens*/
	body.UICResponsiveMode .modal-body, body.UICResponsiveMode .modal-overflow .modal-body{
		position: relative;
		padding: 15px;
    	overflow-y: auto !important;
	}

    /* small screen fix for top bar*/
    #UICsettingsMenuNav{
        margin-top: -15px !important;
    }

    body.UICResponsiveMode #settings_dialog_content {
        margin-top: 50px !important;
    }
    #navbar.navbar-fixed-top .navbar-inner {
        padding: 0px 5px !important;
    }
}

/* tiny screns aka mobile */
@media (max-width: 767px){
    div.UIHeaderWrap{
        max-width: calc(100vw - 200px) !important;
        right: 60px !important;
    }

    /* try and prevent modals with oversize content from going nuts */
    body.UICResponsiveMode div.modal-overflow{
        max-height: 95vh !important;
        margin-top: 2.5vh !important;
        overflow: auto !important;
    }

    /*fix input fields broken*/
	body.UICResponsiveMode .search-query-with-clear .search-clear{
		right: 28px !important;
	}
    /* fix the margin of the seting dialog to make even more snce */
    body.UICResponsiveMode #settings_dialog_content div.tab-pane{
        margin-right: 0px !important;
    }
    div#settings_uicustomizer_tabs_look div.btn-group button{
        min-width: 70px !important;
    }
    div#settings_uicustomizer_tabs_look ul.UICTabDesign{
        left: -3px;
        min-width: 70px !important;
        text-align: center;
    }

    /*Hide overflow */
    .modal-open.page-overflow .page-container{
        overflow-y: hidden;
    }

    /*fix for files in large cols - this small gives us full width*/
    body.UICResponsiveMode div.UICLargeSpan #files div.gcode_files .action-buttons{
        top: 5px;
        bottom: inherit !important
    }

    body.UICResponsiveMode div.UICLargeSpan #files div.gcode_files div.title{
        margin-left: 25px;
    }
    body.UICResponsiveMode div.UICLargeSpan #files div.gcode_files div.toggleAdditionalData{
        position: absolute;
        left: 5px;
    }
    body.UICResponsiveMode div.UICLargeSpan #files div.scroll-wrapper{
        height: auto !important;
        padding-bottom: 30px;
    }

    body.UICResponsiveMode div.UICLargeSpan #files .gcode_files .entry .additionalInfo{
        padding-bottom: 5px !important;
    }
    body.UICResponsiveMode div.UICLargeSpan #files .gcode_files .entry .uploaded{
        float:right;
    }
    body.UICResponsiveMode div.UICLargeSpan #files .gcode_files .entry .uploaded, #files .gcode_files .entry .size{
        margin-top:3px;
    }

    body.UICResponsiveMode #files .gcode_files .scroll-wrapper.UICFullHeight{
        height: 100%;
        max-height: 75vh;
    }
}

/* super tiny hack*/
@media (max-width: 600px){

	body.UICResponsiveMode #navbar a.brand{
		width:22px;
		overflow: hidden;
        padding: 0px 0px 0px 15px;
        display: inline-block;
        margin-top: 10px;
	}

    div.UIHeaderWrap{
        max-width: calc(100vw - 105px) !important;
        right: 60px !important;
    }

    ul.UICHeaderIcons.CenterMe{
        left: 0px !important;
        -webkit-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        transform: none !important;
        min-height: 41px;
        position: relative !important;
        float: left !important;
    }

    html.UICDefaultTheme.UICResponsiveMode #navbar a.brand{
        margin-left: 10px;
    }


    /* ------------------------- small temp tables start -------------------------*/
    #temperature-table input.input-mini, #temperature-table .add-on, #temperature-table span.input-mini {
        height: 12px;
        line-height: 12px;
        top: -1px;
        font-size: 12px;
        max-width: 22px;
    }

    #temperature-table th,#temperature-table td {
        padding: 4px 5px
    }
    #temperature-table input.input-mini, #temperature-table span.input-mini {
        display: inline;
    }
    #temperature-table span.input-mini{
        padding: 3px;
    }

    #temperature-table td.temperature_tool, #temperature-table th.temperature_tool{
        width: initial !important;
    }
    #temperature-table td.temperature_actual, #temperature-table th.temperature_actual{
        width: 60px !important;
    }
    #temperature-table td.temperature_target, #temperature-table th.temperature_target{
        width: 155px !important;
    }
    #temperature-table td.temperature_offset, #temperature-table th.temperature_offset{
        width: 108px !important;
    }

    /* btn mini copy from bs */
    #temperature-table .btn [class^="icon-"],#temperature-table .btn [class*=" icon-"] {
        margin-top: -1px
    }

    #temperature-table .btn {
        padding: 0 6px;
        font-size: 10.5px;
    }
    #temperature-table .btn button.btn, #temperature-table input[type="submit"].btn {
        *padding-top: 1px;
        *padding-bottom: 1px;
    }
    #temperature-table .btn-group>.btn {
        font-size: 10.5px;
    }
    #temperature-table .btn-group>.btn+.dropdown-toggle {
        *padding-top: 2px;
        padding-right: 5px;
        *padding-bottom: 2px;
        padding-left: 5px;
    }

    #temperature-table .btn .caret {
        margin-top: 6px;
    }
    #temperature-table .btn .label,#temperature-table .btn .badge {
        top: 0;
    }

    /* ------------------------- small temp tables end -------------------------*/

    /* ------------------------- small temp tables end -------------------------*/
}

.UICvertResize{
    resize: vertical;
}

/* fix navbar icon wraps  */
div.UICMainMenu ul.nav{
    z-index: 1000;
}
div.UIHeaderWrap::-webkit-scrollbar {
  height: 5px;
}

div.UIHeaderWrap::-webkit-scrollbar-track {
  background: transparent;
}

div.UIHeaderWrap::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 3px solid currentColor;
}

div.UIHeaderWrap{
    scrollbar-width: thin;
    position: absolute;
    top: 0px;
    right: calc(var(--uicmainwidth) + 20px);
    overflow-x: auto;
    overflow-y: hidden;
    max-width: calc(100vw - var(--uicmainwidth) - 170px);
    max-height: calc(100% + 10px);
    width: max-content;
    z-index: 900;
}

div.UIHeaderWrap.CenterMe{
    width: 100% !important;
    float: right !important;
}

ul.UICHeaderIcons.CenterMe{
    float: unset;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1030;
}


/* fix popovers*/

#navbar.navbar-static-top{
    position: relative;
    z-index: 1030;
}

/*add margin in cols if not themed*/
html:not(.themeify) .UICCol1 > div, html:not(.themeify) .UICCol2 > div, html:not(.themeify) .UICCol3 > div{
    margin-bottom: 5px;
}

body.UICfixedFooter{
	margin-bottom: 45px;
}

/* fix broken styles when running settings full width*/
body.UICResponsiveMode div#settings_dialog .help-inline{
    display: block;
}

/* fix the modal body to play nice in responsive - it will be resized with js*/
body.UICPreviewON div#settings_dialog div.modal-body {
    max-height: 350px !important;
    min-height: 350px !important;;
    height: 350px !important;
}

/* when we turn on preview lets change the position*/
body.UICPreviewON div#settings_dialog {
    margin-top: 0px !important;
    top: calc(100% - 510px);
}

/* make the modal backdrop transparent in preview*/
body.UICPreviewON div.modal-backdrop.fade.in,body.UICPreviewON div.modal-backdrop.in {
    opacity: 0.3;
}

body.UICPreviewON #settings_dialog{
    min-height: 500px;
}

/* center icons */

.UICHeaderIcons{
    white-space: nowrap;
    width: max-content;
    float: right !important;
}

.UIHeaderWrap.CenterMe  ul.UICHeaderIcons{
    float: unset !important;
}

/* fix stacked icons*/
.UICHeaderIcons >li > a .fa-stack{
    margin-top: -5px;
}

/* fix tabs bottom spacing if not running themeify*/
html:not(.themeify) #tabs_content{
	margin-bottom: 2px !important;
}

/* use small font size for tabdrop */
#tabs li.tabdrop >ul.dropdown-menu a >i.UICTabIconSize{
    font-size: 1em;
}

/* fix right side menu drop on files*/
#files_wrapper ul.dropdown-menu {
    right: 0;
    left: auto;
}

/* fix search more for non settings */
#files_wrapper .input-block.search-query, body.UICResponsiveMode .input-block.search-query{
	max-width: 90% !important;
    width: calc(100% - 28px) !important;
    margin-right: -20px;
    margin-left: -20px;
}

#files .gcode_files .scroll-wrapper.UICFullHeight{
    height: 100%;
    max-height: 80vh;
    min-height: 70px;
}

/* search in settings fix*/
body.UICResponsiveMode #settings_dialog .input-block.search-query, body.UICResponsiveMode #settings_plugin_pluginmanager_repositorydialog .input-block.search-query{
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 10px;
    max-width: 50% !important;
}

body.UICResponsiveMode .search-query-with-clear .search-clear{
	right: 8px;
}


/* remove background image for graph*/
.UICnoBackground{
	background: none !important;
}

/*UIC settings */
.UICDragVHandle{
    cursor: grab;
}

textarea.UICCustomCSS{
    width: 100%;
    resize: vertical;
    min-height: 200px;
}

#settings_uicustomizer_topicons_container .UICTopIconLbl{
    text-transform: capitalize;
}

#settings_uicustomizer_topicons_container .accordion-heading{
    display: block;
    padding: 8px 15px;
    cursor: grab;
}

#settings_uicustomizer_topicons_container .accordion-heading > i{
    float: right;
    margin-top: 5px;
    min-width: 20px;
    text-align: center;
}

#UICSortCols input[type=range]{
	width: 85%;
}

#UICSortCols ul {
	clear: both;
    padding-bottom: 40px;
    border-radius: 4px;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
	                  supported by Chrome, Edge, Opera and Firefox */
}
#UICSortCols ul:empty {
    backdrop-filter: brightness(90%);
}

#UICSortCols ul li{
	cursor: grab;
}

#UICSortCols {
    margin: 10px 0px;
}

.UICToggleVis{
    cursor: pointer !important;
    position: absolute;
    right: 3px;
    padding-top: 8px;
    margin-top: -7px;
    padding-bottom: 10px;
    width: 25px;
    text-align: center;
}

div#UICSortCols li a:hover .UICToggleVis, .UICToggleVis:hover {
    color: #000;
}

.UICToggleVis:hover {
    backdrop-filter: brightness(500%);
    border: 1px solid #aaa;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 5px;
}
/* settings styles */
#settings_plugin_uicustomizer li.tabdrop li.pull-right{
    float: inherit !important;
    width: 100%;
}

/* settings bottom buttons */
#settings_plugin_uicustomizer .UICBottomBar{
    position: relative;
    top: 15px;
    overflow: hidden;
    width: 100%;
    border-top: 1px solid #eee;
    padding-top: 10px;
    height: 30px;
}

#UICDonate:hover i{
    animation: uicPulseFrame 1s ease-out;
    animation-iteration-count: infinite;
}

#settings_plugin_uicustomizer #UICReportBug:hover i{
    -webkit-animation: fa-spin 1s steps(8) infinite;
    animation: fa-spin 1s steps(8) infinite;
    padding-right: 20px;
    color: #000;
    margin-right: 10px;
}
#settings_plugin_uicustomizer #UICReportBug.disabled{
    cursor: progress;
}

#settings_plugin_uicustomizer #UICReportBug:hover{
    width: 100px;
}

#settings_plugin_uicustomizer #UICReportBug{
    transition: width 1s;
    width: 80px;
    text-align:right;
    overflow:hidden;
    white-space: nowrap;
    float:right;
}

#settings_plugin_uicustomizer form.form-horizontal div.span6 .controls{
	margin-left: 45px !important;
}

#settings_plugin_uicustomizer > form.form-horizontal > ul.nav.nav-pills{
    margin-bottom: 0px;
    border-bottom: 1px solid #eeee;
}

div#settings_uicustomizer_tabs_look .UICTabToggle, div#settings_uicustomizer_tabs_look .UICTabIcon{
    min-width: 45px;
}
div#settings_uicustomizer_tabs_look div.btn-group button{
    min-width: 100px;
    text-align: left;
}
div#settings_uicustomizer_tabs_look div.btn-group span.caret{
    float: right;
    margin-right: -5px;
}

/* icon search */
.UICiconSearchResults {
    font-size: 12px;
    overflow-y: auto;
    max-height: 240px;
    padding: 3px;
    width: 100%;
}

.UICiconSearchResults a{
    display:block;
    float: left;
    width: 25px;
    height: 20px;
    padding: 8px;
    margin: 0 6px 6px 0;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0 0 0 1px #ddd;
    color: inherit;
}

.UICiconSearchResults a:hover{
    background-color: #eee;
}

.UICiconSearchResults a i{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    position: relative;
    font-size: 20px;
}

.UICiconSearchResults a.UICIconSelected {
    background-color: #08c;
    color: #fff
}

.UICiconSearchResults a.UICIconSelected:hover{
    opacity: 0.80;
}

.UICiconSearchResults .searchResultHelper{
    clear: both;
    padding-bottom: 10px;
}

.UICiconSearchResults .searchResultHelper span{
    display: block;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
}


/* input filters for search*/
.UICiconSearchFilter{
    width: 95% !important;
}

.UICiconSearchClose{
    position: absolute;
    top: -10px;
    right: -10px;
    box-shadow: 2px 2px 4px #00000040;
}

.UICiconSearchInfo {
    font-size : 15px;
    color: #000;
}

.UICIconPickHeader .UICTabIconColor{
    visibility: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
}

.UICIconPickHeader .UICTabIconClear .UIC-fa-stack{
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.UICIconPickHeader .UICTabIconColorLbl{
    width: 20px;
    position: relative;
    display: inline-block;
    height: 20px;
    padding: 4px 6px;
}

.UICIconPickHeader .UICTabIconColorLbl i{
    pointer-events: none;
}

.UICIconPickHeader .UICTabIconColorLbl i:before{
    text-shadow: 1px 1px 5px #333;
}

.UICIconPickHeader button{
    width: 34px;
    padding: 4px 6px;
}

/* css3 magic :) */
.UICIconPickHeader{
    width: 100%;
}
.UICIconPickHeader .UICiconSearchFilter:only-child {
    max-width: 95% !important;
    border-radius: 4px;
}
.UICIconPickHeader .UICiconSearchFilter:first-child:nth-last-child(2){
    max-width: 80% !important;
}
.UICIconPickHeader .UICiconSearchFilter:first-child:nth-last-child(3){
    max-width: 65% !important;
}
.UICIconPickHeader .UICiconSearchFilter:first-child:nth-last-child(4){
    max-width: 55% !important;
}

/* fix arrow position */
div.popover.UICIconPicker.left,div.popover.UICIconPicker.right{
    margin-top: 15px;
    margin-left: 0px;
}

div.popover.UICIconPicker h3.popover-title{
    overflow: hidden;
}

div.popover.UICIconPicker{
    width: 280px;
    z-index: 999;
}

div.popover.UICIconPicker .arrow{
    top: 30px;
}

div.popover.UICIconPicker form{
    margin: 0px;
    padding: 0px;
}

#settings_uicustomizer_tabs i.UICIconEmpty {
    color: #3a87ad;
}

/* setting menu for responsive*/

div.UICHackResponseActive {
    width: 100%;
    margin-top: 5px;
}

#UICsettingsMenuNav{
    width: 100%;
	position: fixed;
	margin-top: -15px;
	margin-bottom: 0px;
	z-index: 1000;
	padding: 10px 0px 15px 0px;
	background-color: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0px, rgba(255,255,255,1) 55px, rgba(255,255,255,0) 100%);
}
.UICscrollMenu{
    overflow-y: auto;
    overflow-x: hidden;
}

#UICsettingsMenu a {
    font-size: 14px;
    font-weight: normal;
}

#UICsettingsMenu ul.dropdown-menu li.active a {
    color: #fff;
}


body.UICResponsiveMode #settings_dialog_content{
    width: 100%;
    width: calc(100% - 30px);
    margin-right: -18px;
    margin-top: 50px;
}

body.UICResponsiveMode #settings_dialog_content div.tab-pane{
    margin-right: 25px;
}

/* fix list in settins responsive*/
body.UICResponsiveMode #settings_plugin_softwareupdate_updatelist, body.UICResponsiveMode #settings_plugin_pluginmanager_pluginlist{
    max-height: initial;
    min-height: 100px;
}

/* force scrollbar */
html.touchevents #settings_dialog ::-webkit-scrollbar {
    width: 10px !important;
    margin-right: 10px;
}

 /* Track */
html.touchevents #settings_dialog ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
    -webkit-border-radius: 10px !important;
    border-radius: 10px !important;
}

 /* Handle */
html.touchevents #settings_dialog ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px !important;
    border-radius: 10px !important;
    background-color: #006dcc !important;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5) !important;
}
html.touchevents #settings_dialog ::-webkit-scrollbar-thumb:window-inactive {
    background-color: #999999 !important;
}

#UICRealPrevCheck a{
    margin-left: 0px;
    margin-right: 0px;
}


/* settings menu cookie*/
#UICsetMenuShow{
	font-size: 12px;
    overflow: hidden;
    height: 10px;
    display: block;
    max-width: 60%;
    width: 60%;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
    pointer-events: none;
}

#UICSettingsHeader{
	font-size: 50%;
    margin-right: 20px;
}

.UIC-pulsate{
	animation: uicPulseFrame 1s ease-out;
    animation-iteration-count: infinite;
}

.UIC-pulsateShort{
    animation: uicPulseFrame 1s ease-out;
    animation-iteration-count: 5;
}

@keyframes uicPulseFrame {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}

/* Fix gcode for responsive*/
body.UICResponsiveMode #gcode_canvas{
    position: relative;
    max-width: 100% !important;
    max-height: 100% !important;
}

#canvas_container.UICMaxi canvas, #canvas_container.UICMaxi .gcode_canvas_wrapper1{
    width: 100% !important;
    height: 100% !important;
}

#canvas_container{
    text-align: center;
}


#gcode div.UICToolTipLeft{
    left: -120px !important;
}

body.UICResponsiveMode #gcode_layer_slider{
	position: relative;
}
body.UICResponsiveMode #canvas_container div.slider-horizontal, body.UICResponsiveMode #gcode div.progress{
	width: 100% !important;
}

body.UICResponsiveMode #gcode_layer_slider.slider-vertical .slider-handle{
    margin-left: -8px !important;
}

body.UICResponsiveMode #gcode_layer_slider{
    height: 100% !important;
    height: calc(100% - 30px) !important;
    z-index: 1000;
    right: -11px;
}

body.UICResponsiveMode select{
	width: initial !important;
}


.UICHide{
	display: none;
}

/* Compact navbar temp fixes */

#navbar_plugin_navbartemp.UICIconHack > div {
    position: relative;
    overflow: hidden;
    height: 40px;
}

#navbar_plugin_navbartemp.UICIconHack > div > span {
    position: relative;
    display:inline-block;
    margin-top: 2px;
    padding-left: 27px;
    text-indent: -40px;
    overflow: hidden;
    height: 40px;
    padding-top: 6px;
    margin-right: 6px;
}
#navbar_plugin_navbartemp.UICIconHack #socInfo{
    max-width: 49px;
    text-indent: -58px;
}

#navbar_plugin_navbartemp.UICIconHack > div > span:after{
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    text-align: center;
    width: 100%;
    left: -5px;
    padding-left: 5px;
    top: 2px;
    opacity:0.8;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 900;
    font-stretch: normal;
    font-size: inherit;
    line-height: 1;
    font-family: "Font Awesome 5 Free","FontAwesome";
    text-indent: 0px;
}

#navbar_plugin_navbartemp.UICIconHack > div >  #socInfo:after{
    content:"\f2db" !important;
}

#navbar_plugin_navbartemp.UICIconHack > div >  #bedInfo:after{
    content:"\f2d1" !important;
}

#navbar_plugin_navbartemp.UICIconHack > div > #toolInfo:after{
    content:"\f06d" !important;
}

/* webcam zoom/float */

/* fixes problem with fullscreen plugin*/
body.inlineFullscreen .UICWebCamClick{
    display: none;
}

.UICWebCamClick{
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 1.5em;
    z-index: 1025;
    background-color: #eeeeeea1;
    margin: 15px 15px 0px 0px;
    padding: 4px 5px;
    border-radius: 3px;
    text-align: center;
}

#UICWebCamTarget{
    z-index: 1020;
}

#UICWebCamTarget img,#UICWebCamTarget video{
    width: 100%;
    min-width: 200px !important;
    max-height: 100vh;
    max-width: 100vw;
}


/* floating webcam */

#UICWebCamFull.FloatCam{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 25vw);
    z-index: 1045;
    min-height: 25vh;
    min-width: 25vw;
    overflow: hidden;
    max-height: fit-content;
    max-width: fit-content;
    object-fit: contain;
    cursor: move;
    resize: both;
    border: 3px  solid var(--background);
    border-radius: 4px;
    background-color: var(--background);
    padding-bottom: 62px;
}

#UICWebCamFull.FloatCam div.UICwebcamLoading{
    width: 100%;
    top: 30%;
    font-size: 2vw;
    position: absolute;
    z-index: -10;
    cursor: wait !important;
    text-shadow: 0px 0px 15px #000000;
    user-select: none;
}
#UICWebCamFull.FloatCam div.UICwebcamLoading i{
    display: block;
    margin-bottom: 25px;
}

#UICWebCamFull.FloatCam #UICWebCamTarget{
    min-width: 50vw;
}

#UICWebCamFull.FloatCam #UICWebCamTarget img{
    height: 100%;
    object-fit: contain;
}

#UICWebCamFull.FloatCam #UICWebCamTarget *{
    pointer-events: none
}

/* fullscreen webcam */
#UICWebCamFull.FullCam{
    background-color: var(--background);
}

#UICWebCamFull.FullCam div.UICwebcamLoading{
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 4vw;
    z-index: -10;
    cursor: wait !important;
    user-select: none;
}

#UICWebCamFull.FullCam.UICnoCursor{
    cursor: none !important;
}


/* webcam progress bar */
#UICWebCamFullProgress{
    padding: 15px 10px 20px 10px;
    background-color: var(--background);
    filter: brightness(1.3);
    box-shadow: 0px -4px 8px 0px rgb(0 0 0 / 60%);
}

#UICWebCamFullProgress div.label{
    float: left;
    color: #000;
    margin-left: 8px;
    margin-bottom: 8px;
    max-width: 220px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

#UICWebCamFullProgress div.label.paused{
    opacity: 0.4;
}

#UICWebCamFullProgress span.progress{
    display:block;
    position: absolute;
    width: 98%;
    bottom:-15px;
    left:1%;
    height: 8px;
    margin-bottom:23px;
}

#UICWebCamFullProgress div i{
    margin-right: 5px;
}

/* webcam widget */

#IUCWebcamContainer div.UICWebCamClick{
    right: 5px;
}

#IUCWebcamContainer div.keycontrol_overlay{
    display: none !important;
    pointer-events:none;
}

#IUCWebcamContainer div.UICwebcamdockinfo{
    text-align: center;
    min-height: 80px;
    line-height: 80px;
    z-index: -5;
    user-select: none;
    display: none;
    background: #00000005;
    border-radius: 0.6em;
    border-color: #00000008;
    border-width: 1px;
    border-style: solid;
}

#IUCWebcamContainer div.accordion-inner{
    min-height: 80px;
}

#IUCWebcamContainer div.UICWebCamWidgetWait, #IUCWebcamContainer div.nowebcam{
    height: 100px;
    line-height: 100px;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 0px;
    z-index: 1;
}

#IUCWebcamContainer #webcam_plugins_container {
    min-height: fit-content;
}

#IUCWebcamContainer div.nowebcam div.text.webcam_error{
    line-height: normal;
    transform: none;
}

/*hide zoom click if only*/
#IUCWebcamContainerSrc > div.UICWebCamClick:only-child{
    display:none;
}


.UICHideHard{
    display: none !important;
}

/* generic padding */
.UICPadLeft{
    padding-left: 5px;
}

.UICPadRight{
    padding-right: 5px;
}

.UICMargLeft{
    margin-left: 5px;
}



/* ------------------------- small temp tables start -------------------------*/
#temp.UICTempTableSmall #temperature-table input.input-mini, #temp.UICTempTableSmall #temperature-table .add-on, #temp.UICTempTableSmall #temperature-table span.input-mini {
    height: 12px;
    line-height: 12px;
    top: -1px;
    font-size: 12px;
    max-width: 22px;
}

#temp.UICTempTableSmall #temperature-table th,#temp.UICTempTableSmall #temperature-table td {
    padding: 4px 5px
}
#temp.UICTempTableSmall #temperature-table input.input-mini, #temp.UICTempTableSmall #temperature-table span.input-mini {
    display: inline;
}
#temp.UICTempTableSmall #temperature-table span.input-mini{
    padding: 3px;
}

#temp.UICTempTableSmall #temperature-table td.temperature_tool, #temp.UICTempTableSmall #temperature-table th.temperature_tool{
    width: initial !important;
}
#temp.UICTempTableSmall #temperature-table td.temperature_actual, #temp.UICTempTableSmall #temperature-table th.temperature_actual{
    width: 60px !important;
}
#temp.UICTempTableSmall #temperature-table td.temperature_target, #temp.UICTempTableSmall #temperature-table th.temperature_target{
    width: 155px !important;
}
#temp.UICTempTableSmall #temperature-table td.temperature_offset, #temp.UICTempTableSmall #temperature-table th.temperature_offset{
    width: 108px !important;
}

/* btn mini copy from bs */
#temp.UICTempTableSmall #temperature-table .btn [class^="icon-"],#temp.UICTempTableSmall #temperature-table .btn [class*=" icon-"] {
    margin-top: -1px
}

#temp.UICTempTableSmall #temperature-table .btn {
    padding: 0 6px;
    font-size: 10.5px;
}
#temp.UICTempTableSmall #temperature-table .btn button.btn, #temp.UICTempTableSmall #temperature-table input[type="submit"].btn {
    *padding-top: 1px;
    *padding-bottom: 1px
}
#temp.UICTempTableSmall #temperature-table .btn-group>.btn {
    font-size: 10.5px
}
#temp.UICTempTableSmall #temperature-table .btn-group>.btn+.dropdown-toggle {
    *padding-top: 2px;
    padding-right: 5px;
    *padding-bottom: 2px;
    padding-left: 5px
}

#temp.UICTempTableSmall #temperature-table .btn .caret {
    margin-top: 6px
}
#temp.UICTempTableSmall #temperature-table .btn .label, #temp.UICTempTableSmall #temperature-table .btn .badge {
    top: 0
}

/* ------------------------- small temp tables end -------------------------*/

#files .upload-buttons >.btn, #job_print, #job_pause, #job_cancel{
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*generic dropdown selector for widgets*/
.UICWidgetSelector, .UICrightPadded{
    margin-top: 5px;
    margin-right: 5px;
    float: right;
}

.UICWidgetSelector span.caret{
    margin-left: 5px;
}

.UICWidgetSelector a.btn.btn-small.dropdown-toggle {
    max-width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.UICCol3 .UICWidgetSelector ul.dropdown-menu {
    right: 0;
    left: auto;
}

/* gcoce viewer widget*/
#UICGcodeVWidgetContainer div {
    text-align: center;
}


/* themify hacks :/*/
.themeify.dyl #navbar{
    position: absolute !important;
}
.themeify body.UICResponsiveMode .UICCompactMenu ul li a{
    text-shadow: none !important;
}
html.themeify #UICsetMenuShow{
    text-shadow: none;
}

/* internal themese */
#settings_uicustomizer_themesContent a.UICsetTheme.thumbnail:before{
    content: "Loading...";
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-shadow: none;
    font-weight: normal;
    position: absolute;
    font-size: 12px;
    text-align:center;
    width: 100%;
    line-height: 20px;
    margin-top: calc(25% - 20px);
    animation: uicPulseFrame 1s ease-out;
    animation-iteration-count: infinite;
}

#settings_uicustomizer_themesContent li.UICThemeSelected a.UICsetTheme.thumbnail:before{
    content: "\f00c";
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    text-align: center;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 900;
    font-stretch: normal;
    font-size: inherit;
    line-height: 1;
    font-family: "Font Awesome 5 Free","FontAwesome";
    text-indent: 0px;
    font-size: 3em;
    margin-left: 5px;
    margin-top: 5px;
    z-index: 10;
    text-align: left;
    width: auto;
    animation: none;
    text-shadow: 0 0 2px #000000;
}

#settings_uicustomizer_themesContent .span4 p {
    margin-top: 6px;
    height: 70px;
    overflow: auto;
}

#settings_uicustomizer_themesContent .UICsetTheme.thumbnail {
    min-height: 100px;
    position: relative;
}

#settings_uicustomizer_themesContent .UICsetTheme.thumbnail img{
    position: relative;
}


#term .terminal pre.UICvertResize{
    height: 350px;
    max-height: inherit;
}


/* default styles for tempgraph - should be added/overwritten themes*/
#UICTempWidgetGraph .ct-line {
    stroke-width: 2px;
}

#UICTempWidgetGraph .ct-label{
    color:  #aaa;
}

#UICTempWidgetGraph .ct-grid{
    stroke: #aaa;
    stroke-width: 0.4px;
    stroke-dasharray: 0px;
}

.UICUpdateHR{
    margin: 15px 0px 8px 0px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, transparent, currentColor, transparent);
}


/* Fix for mobile fixed header/footer */
@media(max-width:979px){
    body.UICfixedHeader div.navbar-fixed-top, body.UICfixedFooter div.navbar-fixed-bottom{
        position:fixed !important;
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
    body.UICfixedFooter div.navbar-fixed-bottom #footer_version{
        max-width: 100%;
        width: 100%;
        justify-content: center;
        display: flex;
    }
    body.UICfixedFooter div.navbar-fixed-bottom #footer_links{
        display: none;
    }
    body.UICfixedHeader div.octoprint-container{
        margin-top: 50px;
    }
}

#UISettingsImportAlert{
    margin-top:  10px;
    margin-bottom: 5px;
}

/*webcam rotator handling*/

.UIC_webcam_container_clone {
    width: 100%;
    position: relative;
    outline: 0;
    background-color: #000;
}

.UIC_webcam_container_clone .webcam_rotated {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    pointer-events: none;
}

.UIC_webcam_container_clone .webcam_rotated .webcam_fixed_ratio {
    position: absolute;
    transform: rotate(-90deg);
    top: 0;
    bottom: 0;
    pointer-events: none;
}

.UIC_webcam_container_clone .webcam_rotated .webcam_fixed_ratio .webcam_fixed_ratio_inner {
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.UIC_webcam_container_clone .webcam_unrotated .webcam_fixed_ratio {
    width: 100%;
    pointer-events: none;
    padding-bottom: 100%;
    position: relative;
}

.UIC_webcam_container_clone .webcam_unrotated .webcam_fixed_ratio.ratio43 {
    padding-bottom: 75%;
}

.UIC_webcam_container_clone .webcam_unrotated .webcam_fixed_ratio.ratio169 {
    padding-bottom: 56.25%;
}

.UIC_webcam_container_clone .webcam_unrotated .webcam_fixed_ratio.ratio1610 {
    padding-bottom: 62.5%;
}

.UIC_webcam_container_clone .webcam_unrotated .webcam_fixed_ratio .webcam_fixed_ratio_inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
}

.UIC_webcam_container_clone img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* UICustomizer END */
