/* UICustomizer START */

/* big screens */
@media (min-width: 980px){
	body.UICfixedHeader{
		margin-top: 50px;
	}
	.UICHideDesktop{
		display: none;
	}
    /* on big screens we center these*/
    .UICHeaderIcons{
        float: unset !important;
        position: absolute !important;
        left: 50% !important;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}
/* smaller than  big screens :) */
@media (max-width: 979px){
	.UICHideDesktop{
		display: inline-block !important
	}

    /* on small screens we align to the right */
	.UICHeaderIcons{
		float:right !important;
	}

    /* align drop down menu text to the right*/
	body.UICResponsiveMode #navbar div.nav-collapse {
		text-align: right;
	}

    /* compact menu instead of full width top bar menu*/
    body.UICResponsiveMode #navbar div.nav-collapse.UICCompactMenu {
        position: absolute;
        right: 0px;
        top: 52px;
        z-index: 1000;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        background-color: #ebebeb;
    }

    body.UICResponsiveMode #navbar .navbar-inner .nav>li>a:hover,
    body.UICResponsiveMode #navbar .navbar-inner .nav>li.dropdown.open>.dropdown-toggle{
         background: #dedede;
    }

    /*fix modals on small screens*/
	body.UICResponsiveMode .modal-body, body.UICResponsiveMode .modal-overflow .modal-body{
		position: relative;
    	max-height: 40px;
		padding: 15px;
    	overflow-y: auto !important;
	}

    /* small screen fix for top bar*/
    #UICsettingsMenuNav{
        margin-top: -30px !important;
    }
}

/* tiny screns aka mobile */
@media (max-width: 767px){
    /*fix input fields broken*/
	body.UICResponsiveMode .search-query-with-clear .search-clear{
		right: 28px !important;
	}
    /* fix the margin of the seting dialog to make even more space */
    body.UICResponsiveMode #settings_dialog_content div.tab-pane{
        margin-right: -25px !important;
    }
}

/* super tiny hack*/
@media (max-width: 500px){
	body.UICResponsiveMode #navbar a.brand{
		width: 5px;
		overflow: hidden;
	}
}

body.UICfixedFooter{
	margin-bottom: 45px;
}

/* fix broken styles when running settings full width*/
body.UICResponsiveMode div#settings_dialog .help-inline{
    display: block;
}

/* fix the modal body to play nice in responsive - it will be resized with js*/
body.UICPreviewON div#settings_dialog div.modal-body {
    max-height: 200px !important;
    min-height: 200px !important;;
    height: 200px !important;
}

/* when we turn on preview lets change the position*/
body.UICPreviewON div#settings_dialog {
    margin-top: 0px !important;
    top: calc(100% - 350px);
}

/* make the modal backdrop transparent in preview*/
body.UICPreviewON div.modal-backdrop.fade.in {
    opacity: 0.3;
}

/* fix tabs bottom spacing*/
#tabs_content{
	margin-bottom: 2px !important;
}

/* fix right side menu drop on files*/
#files_wrapper ul.dropdown-menu {
    right: 0;
    left: auto;
}


/* fix search more for non settings */
.input-block.search-query{
	max-width: 90% !important;
    width: calc(100% - 28px) !important;
    margin-right: -20px;
    margin-left: -20px;
}

/* search in settings fix*/
body.UICResponsiveMode #settings_dialog .input-block.search-query, body.UICResponsiveMode #settings_plugin_pluginmanager_repositorydialog .input-block.search-query{
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 10px;
    margin-bottom: 10px;
    max-width: 100% !important;
}

body.UICResponsiveMode .search-query-with-clear .search-clear{
	right: 8px;
}


/* remove background image for graph*/
.UICnoBackground{
	background: none !important;
}

/*UIC settings */
#UICSortRows input[type=range]{
	width: 85%;
}

#UICSortRows ul {
	clear: both;
    padding-bottom: 40px;
    background-color: #eee;
    border-radius: 4px;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
	                  supported by Chrome, Edge, Opera and Firefox */
}

#UICSortRows ul li{
	background-color: #fff;
	cursor: grab;
}

#UICSortRows {
    margin: 10px 0px;
}

.UICToggleVis{
    cursor: pointer !important;
    position: absolute;
    right: 3px;
    padding-top: 8px;
    background: #fff;
    margin-top: -7px;
    padding-bottom: 10px;
    width: 25px;
    text-align: center;
}

div#UICSortRows li a:hover .UICToggleVis, .UICToggleVis:hover {
    background-color: #eee;
    color: #000;
}

.UICToggleVis:hover {
    background-color: #fff !important;
    border: 1px solid #aaa;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 5px;
}

#settings_plugin_uicustomizer form.form-horizontal .controls{
	margin-left: 45px !important;
}

/* setting menu for responsive*/

#UICsettingsMenuNav{
	position: fixed;
	margin-top: -15px;
	margin-bottom: 0px;
	z-index: 1000;
	padding: 10px 0px 15px 0px;
	background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0px, rgba(255,255,255,1) 55px, rgba(255,255,255,0) 100%);
}

#UICsettingsMenu a {
    font-size: 14px;
    font-weight: normal;
}

#UICsettingsMenu ul.dropdown-menu li.active a {
    color: #fff;
}


body.UICResponsiveMode #settings_dialog_content{
    width: 100%;
    width: calc(100% - 30px);
    margin-right: -18px;
    margin-top: 35px;
}

body.UICResponsiveMode #settings_dialog_content div.tab-pane{
    margin-right: 25px;
}

/* fix list in settins responsive*/
body.UICResponsiveMode #settings_plugin_softwareupdate_updatelist, body.UICResponsiveMode #settings_plugin_pluginmanager_pluginlist{
    max-height: initial;
    min-height: 100px;
}

/* settings menu cookie*/
#UICsetMenuShow{
	font-size: 12px;
    overflow: hidden;
    height: 10px;
    display: block;
    max-width: 60%;
    width: 60%;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
    pointer-events: none;
}

#UICSettingsHeader{
	font-size: 50%;
    margin-right: 20px;
}

.UIC-pulsate{
	animation: pulsate_input 1s ease-out;
    animation-iteration-count: infinite
}

/* Fix gcode for responsive*/
body.UICResponsiveMode #gcode_canvas{
    position: relative;
    width: 100% !important;
    height:100% !important;
    float: right;
    right: -1px;
}

#gcode div.UICToolTipLeft{
    left: -120px !important;
}

body.UICResponsiveMode #gcode_layer_slider{
	position: relative;
}
body.UICResponsiveMode #canvas_container div.slider-horizontal, body.UICResponsiveMode #gcode div.progress{
	width: 100% !important;
}

body.UICResponsiveMode #gcode #gcode_layer_slider{
    height: 100% !important;
    height: calc(100% - 30px) !important;
    z-index: 1000;
    right: -11px;
}

body.UICResponsiveMode select{
	width: initial !important;
}


.UICHide{
	display: none;
}

/* Compact navbar temp fixes */

#navbar_plugin_navbartemp.UICIconHack > div > div{
	position: relative;
	overflow: hidden;
	float: left;
	padding-top: 8px;
	margin-bottom: -10px;
}

#navbar_plugin_navbartemp.UICIconHack > div > div > span {
    position: relative;
    margin-left: -13px;
    margin-right: 10px;
}
#navbar_plugin_navbartemp.UICIconHack #socInfo{
    margin-left: -31px !important;
}

#navbar_plugin_navbartemp.UICIconHack > div > div > span:after{
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    color: #000;
    text-align: center;
    width: 100%;
    left: 0px;
    padding-left: 5px;
    top: -15px;
    opacity:0.4;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 900;
    font-stretch: normal;
    font-size: inherit;
    line-height: 1;
    font-family: "Font Awesome 5 Free","FontAwesome";
}

#navbar_plugin_navbartemp.UICIconHack > div > div > #socInfo:after{
	content:"\f2db" !important;
}

#navbar_plugin_navbartemp.UICIconHack > div > div >  #bedInfo:after{
	content:"\f2d1" !important;
}

#navbar_plugin_navbartemp.UICIconHack > div > div > #toolInfo:after{
	content:"\f06d" !important;
}

/* webcam zoom/float */
.UICWebCamClick{
    position: absolute;
    right: 0px;
    font-size: 1.5em;
    z-index: 900;
    background-color: #eeeeeea1;
    margin: 5px 15px 0px 0px;
    padding: 5px 5px 3px 5px;
    border-radius: 8px;
}

#IUCWebcamContainer .UICWebCamClick{
    margin-right: 20px;
}

#UICWebCamFull{
    cursor: move;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 200px);
    z-index: 1000;
    background: rgba(255,255,255,0.66);
    border: 2px  solid rgba(0,0,0,0.5);
    border-radius: 4px; padding: 8px;
    min-height: 100px;
    min-width: 100px;
    resize: both;
    overflow: hidden;
    max-height: fit-content;
    max-width: fit-content;
    object-fit: contain;
    background-color: #eee;
}

#UICWebCamFull img,#UICWebCamFull video{
    width: 100%;
    min-width: 200px !important;
}
#UICWebCamFull .nowebcam{
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* floating webcam fixes*/
#UICWebCamFullInnerDIV.webcam_rotated .webcam_fixed_ratio,
#UICWebCamFullInnerDIV.webcam_unrotated .webcam_fixed_ratio .webcam_fixed_ratio_inner,
#UICWebCamFullInnerDIV.webcam_unrotated .webcam_fixed_ratio.ratio169,
#UICWebCamFullInnerDIV.webcam_unrotated .webcam_fixed_ratio.ratio43
{
    position: relative !important;
    padding-bottom: 0px !important;
}
#UICWebCamFullInnerDIV.webcam_rotated,
#UICWebCamFullInnerDIV.webcam_rotated .webcam_rotated {
    padding-bottom: 0%;
}


.UICWebcam .webcam_rotated {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    pointer-events: none
}

.UICWebcam .webcam_rotated .webcam_fixed_ratio {
    position: absolute;
    transform: rotate(-90deg);
    top: 0;
    bottom: 0;
    pointer-events: none
}

.UICWebcam .webcam_rotated .webcam_fixed_ratio .webcam_fixed_ratio_inner {
    width: 100%;
    height: 100%;
    pointer-events: none
}

.UICWebcam .webcam_unrotated .webcam_fixed_ratio {
    width: 100%;
    pointer-events: none;
    padding-bottom: 100%;
    position: relative
}

.UICWebcam .webcam_unrotated .webcam_fixed_ratio.ratio43 {
    padding-bottom: 75%
}

.UICWebcam .webcam_unrotated .webcam_fixed_ratio.ratio169 {
    padding-bottom: 56.25%
}

.UICWebcam .webcam_unrotated .webcam_fixed_ratio.ratio1610 {
    padding-bottom: 62.5%
}

.UICWebcam .webcam_unrotated .webcam_fixed_ratio .webcam_fixed_ratio_inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none
}

.UICWebcam img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/* filament indicator color schemee*/
.UICHeaderIcons #filament_indicator.present i{
    color:#40e543 !important;
}

.UICHeaderIcons #filament_indicator.empty i{
    color:#b94a48  !important;
}

.UICHeaderIcons #filament_indicator.empty i:before{
    content: "\f071" !important;
}

.UICHeaderIcons #filament_indicator.unknown i{
    color: #3a87ad !important;
}

.UICHideHard{
    display: none !important;
}

/* UICustomizer END */
